.archives-tags-wrap {
    display: flex;
    justify-content: center;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preview h1 {
    font-size: 28px;
}

.preview p {
    text-indent: 2em;
    line-height: 1.8em;
}

.avator {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid rgba(24, 24, 21, 0.07);
}

.box {
    padding: 10px;
    width: 100%;
    margin: 10px 10px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    overflow: hidden;
}

.box .img-box {
    height: 100%;
}
.box .content-box {
    width: 100%;
    margin-left: 24px;
}

.box img {
    height: 100%;
    border-radius: 3px;
    
}
.box h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    order: 3;
    white-space: normal;
}
.box p {
    text-indent: 0;
    width: auto;
    line-height: 2em;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    order: 2;
    font-size: 16px;
}

.box:hover {
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(10, 10, 10, .1),
    0 0 0 1px rgba(10, 10, 10, .1);
}

.work-title {
    margin-left: 16px;
    align-self: flex-start;
    margin-top: 40px;
}

.master-work {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* pc page view */
@media only screen and (min-width: 768px) {
    .master-work {
        flex-direction: row;
        justify-content: space-between;
    }
    .box {
        width: 31.5%;
        flex-direction: column;
        align-items: flex-start;
    }
    .box .img-box {
        width: 100%;
        max-height: 60%;
        overflow: hidden;
    }
    .box .content-box {
        margin-left: 0;
        max-height: 40%;
    }

    .box img {
        width: 100%;
        height: auto;
    }

    .box p {
        width: 100%;
        text-overflow: ellipsis;
        height: 24px;
        overflow: hidden;
        margin: 5px;
    }
}